<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - Proyecto Final</title>


	@Styles.Render("~/Content/css")
		@*@Scripts.Render("~/bundles/modernizr")*@
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

</head>
<body>



	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Navbar</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			@Html.ActionLink("SISTEMA COMPRAS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">

				@if (Session["Role"] == null)
				{
					<li class="nav-item active">
						@Html.ActionLink("Inicio", "Index", "Home", null, new { @class = "nav-link" })
					</li>
					<li class="nav-item active">
						@Html.ActionLink("Sobre Nosotros", "Index", "Home", null, new { @class = "nav-link" })
					</li>
					<li class="nav-item active">
						@Html.ActionLink("Ingresar", "SingIn", "Auth", null, new { @class = "nav-link" })
					</li>
				}
				else if (Session["Role"].Equals("Aprobador Jefe"))
				{

					<li class="nav-item">@Html.ActionLink("Inicio", "Index", "Home", null, new { @class = "nav-link" })</li>
					<li class="nav-item">@Html.ActionLink("Baneja entrada", "GetPurchaseManagerById", "Purchase", null, new { @class = "nav-link" })</li>
					<li class="nav-item">@Html.ActionLink("Usuarios", "Contact", "Home", null, new { @class = "nav-link" })</li>
					<li class="nav-item">@Html.ActionLink("Cerrar sesión", "LogOut", "Auth", null, new { @class = "nav-link" })</li>
				}
				else if (Session["Role"].Equals("Aprobador Je2fe"))
				{

				}
				else
				{

					<li class="nav-item">@Html.ActionLink("Inicio", "Index", "Home", null, new { @class = "nav-link" })</li>
					<li class="nav-item">@Html.ActionLink("Mis compras", "GetPurchaseById", "Purchase", null, new { @class = "nav-link" })</li>
					<li class="nav-item">@Html.ActionLink("Cerrar sesión", "LogOut", "Auth", null, new { @class = "nav-link" })</li>
				}
			</ul>
		</div>
	</nav>



	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - Proyecto Final</p>
		</footer>
	</div>

	@*@Scripts.Render("~/bundles/jquery")
		@Scripts.Render("~/bundles/bootstrap")*@
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
	@RenderSection("scripts", required: false)

</body>
</html>
